body {
    margin: 20px;
}

.card
{
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
    width: 400px; 
    background: #ffddd2;
    color: #2b2839;
    border-bottom: 6px solid #e29578;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

.img{
    width: 150px;    
}

.text
{
    padding-top: 25px;
}
